
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./images/favicon.ico">

    <title>Events Manager</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet" >
    <link href="./css/carousel.css" rel="stylesheet">
    <link href="./css/custom.css" rel="stylesheet"><!--nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse"-->
  </head>
  <body>
    <div class="container file-line">
      <div class="row no-gutters wrap">
        <div class="col-sm-12">
          <div class="row navbar navbar-toggleable-md navbar-inverse bg-inverse" style="margin: .03rem">
            <div class="col-sm-3">
              <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#target" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">Events Maneger</a>
            </div>
            <div class="col-sm-6 offset-sm-5">
              <div class="collapse navbar-collapse" id="target" style="float: right">
                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                  <li class="nav-item"><a class="nav-link active" href="centers.html"><i class="fa fa-home"></i> Home</a></li>
                  <li class="nav-item">
                    <div class="dropdown" style="padding-top: .3rem">
                        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Activities
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href=""  role="button" data-toggle="modal" data-target="#eventModal" ><i class="fa fa-plus"></i> Add event</a>
                          <a class="dropdown-item" href="events.html"  role="button"><i class="fa fa-eye"></i> View events</a>
                          <a class="dropdown-item" href="centers.html"  role="button"><i class="fa fa-eye"></i> View centers</a>
                          <a class="dropdown-item" href="newcenter.html"><i class="fa fa-plus"></i> Add centers</a>
                          <a class="dropdown-item" href="#"><i class="fa fa-list"></i> All centers</a>
                        </div>
                      </div>
                  </li>
                  <li class="nav-item">
                    <div class="dropdown" style="padding-top: .3rem">
                      <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" 
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-user"></i>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> @mrKingz</a>
                        <a class="dropdown-item" href="#"><i class="fa fa-edit"></i> Change password</a>
                        <a class="dropdown-item" href="index.html"><i class="fa fa-sign-out"></i> Signout</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="fine-line" style="margin: 10px 0px">
      <div class="row">
        <div class="col sm-12 align-sides wrap">
          <div class="row">
            <div class="w-100 align-sides search-container">
              <div class="row no-gutters">
                <div class="col-sm-7">
                  <div class="row no-gutters search-div">
                    <div class="col-sm-4">
                      <select class="form-control w-100">
                        <option value="">--Select location--</option>
                        <option></option>
                        <option>Abuja</option>
                        <option>Lagos</option>
                        <option>Warri</option>
                      </select>
                    </div>
                    <div class="col-sm-8">
                      <input class="form-control" type="search" placeholder="Search here..." aria-label="Search">
                    </div>
                  </div>
                </div>
                <div class="col-sm-5" style="padding-left: 5px; padding-right: 5px">
                  <div class="row">
                      <div class="col-sm-5">
                      <div class="btn-group search-btn-div w-100" role="group">
                        <button class="btn btn-outline-secondary w-100"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-outline-secondary w-100"><i class="fa fa-filter"></i> Filter</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- start display center row -->
          <div class="row center">
            <div class="col sm-12">
              <div class="row">

                <!-- start first column -->
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="rounded-circle" src="./images/fine-hall.jpg" width="140" height="140">
                      <h5 class="center-name">Royal Crown</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h6 class="description-header"></h6>
                      <p class="description">
                        Royal crown is the first step to make your event a memorable one.
                        Its uniqueness is like no other.
                        It is located in the heart of Ikeja.
                        It has a very spacious parking lot that can accommodate more than 50 cars...
                        <a class="read-more" href="">read more</a>
                      </p> 
                      <p><a class="btn btn-secondary btn-sm details" href="details.html" role="button">View details &raquo;</a></p>                      
                    </div>
                  </div>
                </div>
                <!-- end first column -->

                <!-- start second column -->
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="rounded-circle" src="./images/golden.jpg" width="140" height="140">
                      <h5 class="center-name">Open Space</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h6 class="description-header"></h6>
                      <p class="description">
                        Open space is the first step to make your event a memorable one.
                        Its uniqueness is like no other.
                        It is located in the heart of Ikeja.
                        It has a very spacious parking lot that can accommodate more than 50 cars...
                        <a class="read-more" href="">read more</a>
                      </p> 
                      <p><a class="btn btn-secondary btn-sm details" href="details.html" role="button">View details &raquo;</a></p>                      
                    </div>
                  </div>
                </div>
                <!-- end second column -->

                <!-- start third column -->
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="rounded-circle" src="./images/large-hall.jpg" width="140" height="140">
                      <h5 class="center-name">A.B. auditorium</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h6 class="description-header"></h6>
                      <p class="description">
                        A.B. auditorium is the first step to make your event a memorable one.
                        Its uniqueness is like no other.
                        It is located in the heart of Ikeja.
                        It has a very spacious parking lot that can accommodate more than 50 cars...
                        <a class="read-more" href="">read more</a>
                      </p> 
                      <p><a class="btn btn-secondary btn-sm details" href="details.html" role="button">View details &raquo;</a></p>                      
                    </div>
                  </div>
                </div>
                <!-- end third column -->

                <!-- start forth column -->
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="rounded-circle" src="./images/cool.jpg" width="140" height="140">
                      <h5 class="center-name">Cool spot</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h6 class="description-header"></h6>
                      <p class="description">
                        Coot spot is the first step to make your event a memorable one.
                        Its uniqueness is like no other.
                        It is located in the heart of Ikeja.
                        It has a very spacious parking lot that can accommodate more than 50 cars...
                        <a class="read-more" href="">read more</a>
                      </p> 
                      <p><a class="btn btn-secondary btn-sm details" href="details.html" role="button">View details &raquo;</a></p>                      
                    </div>
                  </div>
                </div>
                <!-- end forth column -->

              </div>
            </div>
          </div>
          <!-- end display centers row -->

        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-12" style="margin-top:10px;">
          <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <span class="page-link pagination-link">Prev</span>
                </li>
                <li class="page-item active">
                    <span class="page-link pagination-link">
                      1 <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item"><a class="page-link pagination-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link pagination-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link pagination-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <hr>
        <div class="container footer">
          <div class="row">
            <div class="col-sm-4 offset-sm-3 py-4">
              <h4 class="text-white">Contact us: </h4>
              <ul class="list-unstyled">
                <li style="color: #fff">Office: <a class="text-white">16, Ikorodu Road, Ilupeju, Lagos.</a></li>
                <li><i class="icon-at"></i> <a class="text-white"> eventsmanager.ng@gmail.com</a></li>
                <li><i class="fa fa-phone"></i> <a class="text-white"> +2348037801103 </a></li>
                <li><br></li>
                <li><i class="fa fa-envelope"></i> <a href ="#" class="text-white"> Send us a mail</a></li>
              </ul> 
            </div>
            <div class="col-sm-4 py-4">
              <h4 class="text-white">Follow us on: </h4>
              <ul class="list-unstyled">
                <li><i class="fa fa-twitter"></i> <a href="#" class="text-white"> Twitter</a></li>
                <li><i class="fa fa-facebook"></i> <a href="#" class="text-white"> Facebook</a></li>
                <li><i class="fa fa-instagram"></i> <a href="#" class="text-white"> Instagram</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modalLabel">Add event</h5>
              <button type="button" class="close hide" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form class="wrap signin-form" action="">
                  <div class="inner-wrap">
                      <div class="form-group no-margin">
                          <label for="title" class="col-form-label">Title:</label>
                          <input type="text" class="form-control" id="title" placeholder="Event title">
                      </div>
                      <div class="form-group  no-margin">
                        <label for="centers">Center</label>
                        <select id="centers" class="form-control " style="height: 28px; padding: 0px; font-size: 13px">
                          <option>--Select center--</option>
                          <option>...</option>
                        </select>
                      </div>
                      <div class="form-group no-margin">
                          <label for="date" class="col-form-label">Date:</label>
                          <input type="date" class="form-control" id="date" placeholder="Date">
                      </div>
                      <div class="form-group no-margin">
                          <label for="time" class="col-form-label">Time</label>
                          <input type="time" class="form-control" id="time" placeholder="Time">
                      </div>
                      <div class="form-group no-margin">
                          <label for="estimate" class="col-form-label">Estimated invitees</label>
                          <input type="number" class="form-control" id="estimate" placeholder="Estimated invitees">
                      </div>
                      <div class="">
                          <label style="padding-top: calc(.5rem - 1px * 2);" for="description">Brief details</label>
                          <div class="review" id="description" contenteditable="true" placeholder="Brief details here..."></div><br>
                      </div>
                  </div>
                  <div class="btn-wrap" style="direction: rtl">
                      <button type="submit" class="btn btn-info btn-sm" style="direction: ltr"><i class="fa fa-upload"></i> Save</button>
                  </div>
              </form>
            </div>
            <div class="modal-footer" style="background: rgb(235, 235, 235); border-color: rgba(0,0,0,.20)">
              <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Quit</button>
            </div>
          </div>
        </div>
      </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script-->
    <script src="./js/bootstrap.min.js"></script>
  </body>
</html>

