
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="./images/favicon.ico">

        <title>Events Manager</title>
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/font-awesome.min.css" rel="stylesheet" >
        <link href="./css/carousel.css" rel="stylesheet">
        <link href="./css/custom.css" rel="stylesheet"><!--nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse"-->
    </head>
    <body>
        <div class="container file-line">
            <div class="row no-gutters wrap">
                <div class="col-sm-12">
                    <div class="row navbar navbar-toggleable-md navbar-inverse bg-inverse" style="margin: .03rem">
                        <div class="col-sm-3">
                            <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#target" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand" href="#">Events Maneger</a>
                        </div>
                        <div class="col-sm-6 offset-sm-5">
                            <div class="collapse navbar-collapse" id="target" style="float: right">
                                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                                <li class="nav-item"><a class="nav-link active" href="centers.html"><i class="fa fa-home"></i> Home</a></li>
                                <li class="nav-item">
                                    <div class="dropdown" style="padding-top: .3rem">
                                        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Activities
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="" role="button" data-toggle="modal" data-target="#accountModal" ><i class="fa fa-plus"></i> Add event</a>
                                        <a class="dropdown-item" href="newcenter.html"><i class="fa fa-plus"></i> Add centers</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-list"></i> All centers</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown" style="padding-top: .3rem">
                                        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> @mrKingz</a>
                                            <a class="dropdown-item" href="#"><i class="fa fa-edit"></i> Change password</a>
                                            <a class="dropdown-item" href="index.html"><i class="fa fa-sign-out"></i> Signout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="fine-line" style="margin: 10px 0px">
        <div class="row">
            <div class="col sm-12 align-sides wrap">
                <div class="row">
                    <div class="w-100 align-sides search-container">
                      <div class="row no-gutters">
                        <div class="col-sm-7">
                          <div class="row no-gutters search-div">
                            <div class="col-sm-4">
                              <select class="form-control w-100">
                                <option value="">--Select location--</option>
                                <option></option>
                                <option>Abuja</option>
                                <option>Lagos</option>
                                <option>Warri</option>
                              </select>
                            </div>
                            <div class="col-sm-8">
                              <input class="form-control" type="search" placeholder="Search here..." aria-label="Search">
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-5" style="padding-left: 5px; padding-right: 5px">
                          <div class="row">
                              <div class="col-sm-5">
                              <div class="btn-group search-btn-div w-100" role="group">
                                <button class="btn btn-outline-secondary w-100"><i class="fa fa-search"></i> Search</button>
                                <button class="btn btn-outline-secondary w-100"><i class="fa fa-filter"></i> Filter</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="row">
                    <div class="w-100 align-sides content-container" style="margin-top:-15px">  
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title card-header">Conference</h4>
                                        <div class="details">
                                            <h6 class="description-header"></h6>
                                            <p class="card-text">
                                                It is a long established fact that a reader will be distracted by the readable content
                                                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
                                                normal distribution of letters, as opposed to using 'Content here, content here', 
                                                making it look like readable English. Many desktop publishing packages and web page
                                                editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' 
                                                will uncover many web sites still in their infancy. Various versions have evolved over the years, 
                                                sometimes by accident, sometimes on purpose (injected humour and the like).
                                            </p>
                                            <h6 class="details-header"></h6>
                                            <p>
                                                <ul class="details-list">
                                                    <li> <i class="fa fa-users"></i> Guests: <span>250</span></li>
                                                    <li> <i class="fa fa-map-marker"></i> Center: <span>Royal crown</span></li>
                                                    <li> <i class="fa fa-calendar"></i> Date: <span>27 Des, 2017</span></li>
                                                    <li> <i class="fa fa-clock-o"></i> Time: <span>12:00 PM</span></li>
                                                </ul>
                                            </p>                                        
                                            <span class="card-link center">
                                                <span class="btn-group new-center" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-info btn-sm" title="Edit"><i class="fa fa-edit"></i> Edit</button>
                                                    <button type="button" class="btn btn-danger btn-sm" title="Delete"> <i class="fa fa-trash"></i> Delete</buttoen>
                                                    </span>                            
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title card-header">Birthday groove</h4>
                                        <div class="details">
                                            <h6 class="description-header"></h6>
                                            <p class="card-text">
                                                It is a long established fact that a reader will be distracted by the readable content
                                                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
                                                normal distribution of letters, as opposed to using 'Content here, content here', 
                                                making it look like readable English. Many desktop publishing packages and web page
                                                editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' 
                                                will uncover many web sites still in their infancy. Various versions have evolved over the years, 
                                                sometimes by accident, sometimes on purpose (injected humour and the like).
                                            </p>
                                            <h6 class="details-header"></h6>
                                            <p>
                                                <ul class="details-list">
                                                    <li> <i class="fa fa-users"></i> Guests: <span>250</span></li>
                                                    <li> <i class="fa fa-map-marker"></i> Center: <span>A.B. auditorium</span></li>
                                                    <li> <i class="fa fa-calendar"></i> Date: <span>27 Des, 2017</span></li>
                                                    <li> <i class="fa fa-clock-o"></i> Time: <span>12:00 PM</span></li>
                                                </ul>
                                            </p>                                        
                                            <span class="card-link center">
                                                <span class="btn-group new-center" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-info btn-sm" title="Edit"><i class="fa fa-edit"></i> Edit</button>
                                                    <button type="button" class="btn btn-danger btn-sm" title="Delete"> <i class="fa fa-trash"></i> Delete</buttoen>
                                                    </span>                            
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title card-header">Wedding reception</h4>
                                        <div class="details">
                                            <h6 class="description-header"></h6>
                                            <p class="card-text">
                                                It is a long established fact that a reader will be distracted by the readable content
                                                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less 
                                                normal distribution of letters, as opposed to using 'Content here, content here', 
                                                making it look like readable English. Many desktop publishing packages and web page
                                                editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' 
                                                will uncover many web sites still in their infancy. Various versions have evolved over the years, 
                                                sometimes by accident, sometimes on purpose (injected humour and the like).
                                            </p>
                                            <h6 class="details-header"></h6>
                                            <p>
                                                <ul class="details-list">
                                                    <li> <i class="fa fa-users"></i> Guests: <span>250</span></li>
                                                    <li> <i class="fa fa-map-marker"></i> Center: <span>A.B. auditorium</span></li>
                                                    <li> <i class="fa fa-calendar"></i> Date: <span>27 Des, 2017</span></li>
                                                    <li> <i class="fa fa-clock-o"></i> Time: <span>12:00 PM</span></li>
                                                </ul>
                                            </p>                                        
                                            <span class="card-link center">
                                                <span class="btn-group new-center" role="group" aria-label="Basic example">
                                                    <button type="button" class="btn btn-info btn-sm" title="Edit"><i class="fa fa-edit"></i> Edit</button>
                                                    <button type="button" class="btn btn-danger btn-sm" title="Delete"> <i class="fa fa-trash"></i> Delete</buttoen>
                                                    </span>                            
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <div class="col sm-12">
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-12" style="margin-top:10px;">
                <nav aria-label="...">
                    <ul class="pagination">
                    <li class="page-item disabled">
                        <span class="page-link pagination-link">Prev</span>
                    </li>
                    <li class="page-item active">
                        <span class="page-link pagination-link">
                            1 <span class="sr-only">(current)</span>
                        </span>
                    </li>
                    <li class="page-item"><a class="page-link pagination-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link pagination-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link pagination-link" href="#">Next</a>
                    </li>
                    </ul>
                </nav>
            </div>
        </div>            
        <hr>
        <div class="container footer">
            <div class="row">
                <div class="col-sm-4 offset-sm-3 py-4">
                    <h4 class="text-white">Contact us: </h4>
                    <ul class="list-unstyled">
                        <li style="color: #fff">Office: <a class="text-white">16, Ikorodu Road, Ilupeju, Lagos.</a></li>
                        <li><i class="icon-at"></i> <a class="text-white"> eventsmanager.ng@gmail.com</a></li>
                        <li><i class="fa fa-phone"></i> <a class="text-white"> +2348037801103 </a></li>
                        <li><br></li>
                        <li><i class="fa fa-envelope"></i> <a href ="#" class="text-white"> Send us a mail</a></li>
                    </ul> 
                    </div>
                    <div class="col-sm-4 py-4">
                    <h4 class="text-white">Follow us on: </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-twitter"></i> <a href="#" class="text-white"> Twitter</a></li>
                        <li><i class="fa fa-facebook"></i> <a href="#" class="text-white"> Facebook</a></li>
                        <li><i class="fa fa-instagram"></i> <a href="#" class="text-white"> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script-->
        <script src="./js/bootstrap.min.js"></script>   
    </body>
</html>

