
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="./images/favicon.ico">

    <title>Events Manager</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet" >
    <link href="./css/carousel.css" rel="stylesheet">
    <link href="./css/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container file-line">
      <div class="row no-gutters wrap">
        <div class="col-sm-12">
          <div class="collapse" id="navbarHeader" style="background: rgba(0,0,0,.25)">
            <div class="container">
              <div class="row">
                <div class="col-sm-4 py-4">
                    <ul class="list-unstyled">
                      <li><a href ="index.html" class="text-white"> Home</a></li>
                      <li><a href="#" class="text-white"> About us</a></li>
                    </ul> 
                </div>
                <div class="col-sm-4 py-4">
                  <h4 class="text-white">Contact us: </h4>
                  <ul class="list-unstyled">
                    <li style="color: #fff">Office: <a class="text-white">16, Ikorodu Road, Ilupeju, Lagos.</a></li>
                    <li><i class="icon-at"></i> <a class="text-white"> eventsmanager.ng@gmail.com</a></li>
                    <li><i class="fa fa-phone"></i> <a class="text-white"> +2348037801103 </a></li>
                    <li><br></li>
                    <li><i class="fa fa-envelope"></i> <a href ="#" class="text-white"> Send us a mail</a></li>
                  </ul> 
                </div>
                <div class="col-sm-4 py-4">
                  <h4 class="text-white">Follow us on: </h4>
                  <ul class="list-unstyled">
                    <li><i class="fa fa-twitter"></i> <a href="#" class="text-white"> Twitter</a></li>
                    <li><i class="fa fa-facebook"></i> <a href="#" class="text-white"> Facebook</a></li>
                    <li><i class="fa fa-instagram"></i> <a href="#" class="text-white"> Instagram</a></li>
                    <li><br></li>
                    <li class="btn-group user-btn" role="group">
                      <a class="btn btn-outline btn-md signin" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Signin">Signin</a>
                      <a class="btn btn-outline btn-md signup" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Signup">Signup</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="wra">
            <div class="navbar navbar-inverse bg-inverse">
              <div class="container d-flex justify-content-between">
                <a href="#" class="navbar-brand">Events Maneger</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="fine-line" style="margin: 10px 0px">
      <div class="row">
          <div class="col sm-12">
            <div id="myCarousel" class="carousel slide wrap" data-ride="carousel" style="margin-bottom: 3px;">
              <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                  <img class="first-slide" src="./images/conference-hall.jpg">
                  <div class="container">
                    <div class="carousel-caption d-none d-md-block text-right">
                      <h1>Conference hall...</h1>
                      <p>One of our conference hall with state-of-the-art facilities...<br> Won't you rather book with us?</p>
                      <p class="btn-group overlay-btn-div" role="group">
                        <a class="btn btn-md btn-info signin" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Signin">Signin</a>
                        <a class="btn btn-md btn-info signup" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Signup">Signup</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="second-slide" src="./images/stage.jpg">
                  <div class="container">
                    <div class="carousel-caption d-none d-md-block text-right">
                      <h1>Enjoy good time with the audience </h1>
                      <p>A stage like no other!!! 
                        <br>...let the audience hear you better. </p>
                      <p class="btn-group overlay-btn-div" role="group">
                        <a class="btn btn-md btn-info signin" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Signin">Signin</a>
                        <a class="btn btn-md btn-info signup" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Signup">Signup</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="third-slide" src="./images/interior.jpg">
                  <div class="container">
                    <div class="carousel-caption d-none d-md-block text-right">
                      <h1>Book with us...</h1>
                      <p>Want to add class to your event?
                        <br>book with us, let our interior designs do just that...
                      </p>
                      <p class="btn-group overlay-btn-div" role="group">
                        <a class="btn btn-md btn-info signin" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Signin">Signin</a>
                         <a class="btn btn-md btn-info signup" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Signup">Signup</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
              </a>
            </div>
          </div> 
        </div>
      <div class="row">
        <div class="col sm-12 align-sides wrap">
          <div class="row">
            <div class="w-100 align-sides search-container">
              <div class="row no-gutters">
                <div class="col-sm-7">
                  <div class="row no-gutters search-div">
                    <div class="col-sm-4">
                      <select class="form-control w-100">
                        <option value="">--Select location--</option>
                        <option></option>
                        <option>Abuja</option>
                        <option>Lagos</option>
                        <option>Warri</option>
                      </select>
                    </div>
                    <div class="col-sm-8">
                      <input class="form-control" type="search" placeholder="Search event centers..." aria-label="Search">
                    </div>
                  </div>
                </div>
                <div class="col-sm-5" style="padding-left: 5px; padding-right: 5px">
                  <div class="row">
                      <div class="col-sm-5">
                      <div class="btn-group search-btn-div w-100" role="group">
                        <button class="btn btn-outline-secondary w-100"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-outline-secondary w-100"><i class="fa fa-filter"></i> Filter</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row center">
            <div class="col sm-12">
              <div class="row">
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="rounded-circle" src="./images/fine-hall.jpg" width="140" height="140">
                      <h5 class="center-name">Royal Crown</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h6 class="description-header"></h6>
                      <p class="description">
                        Royal crown is the first step to make your event a memorable one.
                        Its uniqueness is like no other.
                        It is located in the heart of Ikeja.
                        It has a very spacious parking lot that can accommodate more than 50 cars...
                        <a class="read-more" href="">read more</a>
                      </p> 
                      <p><a class="btn btn-secondary btn-sm signin" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Please signin">View details &raquo;</a></p>                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="rounded-circle" src="./images/golden.jpg" width="140" height="140">
                      <h5 class="center-name">Open Space</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h6 class="description-header"></h6>
                      <p class="description">
                        Open space is the first step to make your event a memorable one.
                        Its uniqueness is like no other.
                        It is located in the heart of Ikeja.
                        It has a very spacious parking lot that can accommodate more than 50 cars...
                        <a class="read-more" href="">read more</a>
                      </p> 
                      <p><a class="btn btn-secondary btn-sm signin" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Please signin">View details &raquo;</a></p>                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="rounded-circle" src="./images/large-hall.jpg" width="140" height="140">
                      <h5 class="center-name">A.B. auditorium</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h6 class="description-header"></h6>
                      <p class="description">
                        A.B. auditorium is the first step to make your event a memorable one.
                        Its uniqueness is like no other.
                        It is located in the heart of Ikeja.
                        It has a very spacious parking lot that can accommodate more than 50 cars...
                        <a class="read-more" href="">read more</a>
                      </p> 
                      <p><a class="btn btn-secondary btn-sm signin" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Please signin">View details &raquo;</a></p>                      
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="row">
                    <div class="col-sm-12">
                      <img class="rounded-circle" src="./images/cool.jpg" width="140" height="140">
                      <h5 class="center-name">Cool spot</h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12">
                      <h6 class="description-header"></h6>
                      <p class="description">
                        Coot spot is the first step to make your event a memorable one.
                        Its uniqueness is like no other.
                        It is located in the heart of Ikeja.
                        It has a very spacious parking lot that can accommodate more than 50 cars...
                        <a class="read-more" href="">read more</a>
                      </p> 
                      <p><a class="btn btn-secondary btn-sm signin" href="#" role="button" data-toggle="modal" data-target="#accountModal" data-whatever="Please signin">View details &raquo;</a></p>                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-sm-12" style="margin-top:10px;">
          <nav aria-label="...">
              <ul class="pagination">
                <li class="page-item disabled">
                  <span class="page-link pagination-link">Prev</span>
                </li>
                <li class="page-item active">
                    <span class="page-link pagination-link">
                      1 <span class="sr-only">(current)</span>
                    </span>
                </li>
                <li class="page-item"><a class="page-link pagination-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link pagination-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link pagination-link" href="#">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        
        <!-- signin and signup modal starts here-->
        <div class="modal fade" id="accountModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close hide" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form class="wrap signin-form" action="">
                    <div class="inner-wrap">
                        <div class="form-group no-margin">
                            <label for="username" class="col-form-label">Username:</label>
                            <input type="text" class="form-control" id="username" placeholder="Username">
                        </div>
                        <div class="form-group no-margin hide toggle-div">
                            <label for="email" class="col-form-label">Email:</label>
                            <input type="email" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="form-group no-margin">
                            <label for="password" class="col-form-label">Password:</label>
                            <input type="password" class="form-control" id="password" placeholder="Password">
                        </div><br>
                    </div>
                    <div class="btn-wrap center">
                        <p style="margin: 5px 5px; font-size: 12px;">
                            <a class="recovery" href="">Forgot password?</a>
                        </p>
                        <button type="submit" class="btn btn-info w-100 option"></button>
                    </div>
                    <p class="toggle-action" style="margin: 5px 5px; font-size: 12px; text-align: end">
                        <span></span> have account? <a href="" id="userAction"></a>
                    </p>
                </form>
              </div>
              <div class="modal-footer py-3" style="background: rgb(235, 235, 235); border-color: rgba(0,0,0,.20)">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Quit</button>
              </div>
            </div>
          </div>
        </div>
        <!-- signin and signup modal ends here -->

      <footer>
        <p style="float: right">&copy; Andela21, <script>document.write(new Date().getFullYear())</script>.</p>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script-->
    <script src="./js/bootstrap.min.js"></script>
    <script>
        $('#accountModal').on('show.bs.modal', function (event) {
            toggleAction($(event.relatedTarget), $(this));
        });

        $('#userAction').on('click', function (event) {
            event.preventDefault();
            toggleAction($(event.target), $('#accountModal'));
        });

        const toggleAction = function(target, modal) {
            let anchor = target,
                action = anchor.data('whatever') || target.text().toLowerCase(),
                toggleAction = {signin :'Signup', signup : 'Signin'} 
                
                if (anchor.hasClass('signin') || action === 'signin') {

                    modal.find('#username').attr({'placeholder': 'Username or email'});
                    modal.find('#username').siblings('label[for="username"]').text('Username or email');
                    modal.find('div.toggle-div').addClass('hide'); 
                    modal.find('p.toggle-action span').text('Don\'t ');
                    modal.find('a.recovery').show();
                    modal.find('form.signin-form').attr({'action': 'centers.html'});

                } else if (anchor.hasClass('signup') || action === 'signup') {

                    modal.find('#username').attr({'placeholder': 'Username'});
                    modal.find('#username').siblings('label[for="username"]').text('Username');
                    modal.find('div.toggle-div').removeClass('hide');
                    modal.find('p.toggle-action span').text('Already '); 
                    modal.find('a.recovery').hide();
                    modal.find('form.signin-form').attr({'action': ''});

                }

            modal.find('.modal-title').text(action).css({'text-transform':'capitalize'})
            let array =  action.split(' ');
            action = (array.length > 1) ? array[1] : array[0];

            modal.find('.option').text(action).css({'text-transform':'capitalize'});
            modal.find('p.toggle-action a').text(toggleAction[action.toLowerCase()]);
        }
    </script>
  </body>
</html>

