
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="./images/favicon.ico">

        <title>Events Manager</title>
        <link href="./css/bootstrap.min.css" rel="stylesheet">
        <link href="./css/font-awesome.min.css" rel="stylesheet" >
        <link href="./css/carousel.css" rel="stylesheet">
        <link href="./css/custom.css" rel="stylesheet"><!--nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse"-->
    </head>
    <body>
        <div class="container file-line">
            <div class="row no-gutters wrap">
                <div class="col-sm-12">
                    <div class="row navbar navbar-toggleable-md navbar-inverse bg-inverse" style="margin: .03rem">
                        <div class="col-sm-3">
                            <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse" data-target="#target" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <a class="navbar-brand" href="#">Events Maneger</a>
                        </div>
                        <div class="col-sm-6 offset-sm-5">
                            <div class="collapse navbar-collapse" id="target" style="float: right">
                                <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                                <li class="nav-item"><a class="nav-link active" href="centers.html"><i class="fa fa-home"></i> Home</a></li>
                                <li class="nav-item">
                                    <div class="dropdown" style="padding-top: .3rem">
                                        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Activities
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="" role="button" data-toggle="modal" data-target="#accountModal" ><i class="fa fa-plus"></i> Add event</a>
                                        <a class="dropdown-item" href="newcenter.html"><i class="fa fa-plus"></i> Add centers</a>
                                        <a class="dropdown-item" href="#"><i class="fa fa-list"></i> All centers</a>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item">
                                    <div class="dropdown" style="padding-top: .3rem">
                                        <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" 
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#"><i class="fa fa-user"></i> @mrKingz</a>
                                            <a class="dropdown-item" href="#"><i class="fa fa-edit"></i> Change password</a>
                                            <a class="dropdown-item" href="index.html"><i class="fa fa-sign-out"></i> Signout</a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="fine-line" style="margin: 10px 0px">
        <div class="row">
            <div class="col sm-12 align-sides wrap">
                <div class="row">
                    <div class="w-100 align-sides content-container">
                        <div class="row">
                            <div class="col-sm-7 photo">
                                <div class="row">
                                    <div class="col-sm-11">
                                        <img src="./images/blank.png" alt="..." class="img-fluid img-thumbnail" style="width:100%; height: 100%">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label style="font-size: 12px; color: rgba(0,0,0,.75)">Upload photo <br> You can upload multipile photos</label>
                                             <input type="file" class="form-control-file" id="photo" 
                                            style="padding: 0px; font-size: .70rem; width: auto">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <form class="form" style="margin: 2% 5%">
                                            <div class="form-group no-margin">
                                                <label for="name" class="col-form-label">Center name</label>
                                                <input type="text" class="form-control col-sm-10" autocomplete="off" id="name" placeholder="Center name">
                                            </div>
                                            <div class="form-group no-margin hide">
                                                <label for="name" class="col-form-label">Capacity</label>
                                                <input type="text" class="form-control col-sm-10" autocomplete="off" id="name" placeholder="Capacity">
                                            </div>
                                            <div class="form-group no-margin">
                                                <label style="padding-top: calc(.5rem - 1px * 2);" for="address">Address</label>
                                                <div style="margin-top: -4px" class="review col-sm-10" id="address" contenteditable="true" placeholder="Enter address here..."></div>
                                            </div>
                                            <div class="form-group no-margin">
                                                <label style="padding-top: calc(.5rem - 1px * 2);" for="description">Brief description</label>
                                                <div style="margin-top: -4px" class="review col-sm-10" id="description" contenteditable="true" placeholder="Enter brief description here..."></div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 facilities">
                                        <h6>List of added facilities</h6>
                                        <ol>
                                            <li>Chairs (150)</li>
                                            <li>Air conditions (22)</li>
                                            <li>Tables (39)</li>
                                            <li>...</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="margin: 2% 5%">
                                        <div class="btn-group new-center" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-outline-dark btn-md" title="Add facilities"><i class="fa fa-plus"></i> facilities</button>
                                            <button type="button" class="btn btn-outline-dark btn-md" title="View facilities"><i class="fa fa-eye"></i> facilities</button>
                                            <button type="button" class="btn btn-info btn-md" title="Save center">Save details</buttoen>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <div class="col sm-12">
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="container footer">
            <div class="row">
                <div class="col-sm-4 offset-sm-3 py-4">
                    <h4 class="text-white">Contact us: </h4>
                    <ul class="list-unstyled">
                        <li style="color: #fff">Office: <a class="text-white">16, Ikorodu Road, Ilupeju, Lagos.</a></li>
                        <li><i class="icon-at"></i> <a class="text-white"> eventsmanager.ng@gmail.com</a></li>
                        <li><i class="fa fa-phone"></i> <a class="text-white"> +2348037801103 </a></li>
                        <li><br></li>
                        <li><i class="fa fa-envelope"></i> <a href ="#" class="text-white"> Send us a mail</a></li>
                    </ul> 
                    </div>
                    <div class="col-sm-4 py-4">
                    <h4 class="text-white">Follow us on: </h4>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-twitter"></i> <a href="#" class="text-white"> Twitter</a></li>
                        <li><i class="fa fa-facebook"></i> <a href="#" class="text-white"> Facebook</a></li>
                        <li><i class="fa fa-instagram"></i> <a href="#" class="text-white"> Instagram</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <!--script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script-->
        <script src="./js/bootstrap.min.js"></script>   
    </body>
</html>

