.carousel-item{
    height: 20rem;
    background-color: #777;
  }

  hr.file-line {
    border-bottom: 1px solid rgba(0,0,0,.1);
  }

  .signin-form label[for]{
    font-size: 13px;
    color:rgb(0, 0, 0);
    margin: 0px;
  }

   select,
  .signin-form input{
    padding: .4rem .75rem;
    font-size: 13px;
    height: 28px;
  }

  .signin-form {
    margin: 0% 8%; 
    padding: 5px; 
  }

  a.recovery {
    color: brown;
    font-size: 12px;
  }

  .inner-wrap {
    padding: 1% 10% 0% 10%;
    background: #fff;
    border: 1px solid rgba(0,0,0,.1); 
  }

  .btn-wrap {
    padding: 0px;
    margin-top: 5px;
    order: 1px solid rgba(0,0,0,.1); 
  }

  .fac-wrap {
    background: #ffffff; 
    border-color: rgba(0,0,0,.2);
    border-radius: 5px;
  }

  form.wrap,
  div.wrap {
    padding: 3px;
    border: 1px solid rgba(0,0,0,.1);
  }

  form.wrap,
  .signin-form div.wrap,
  .signin-form .inner-wrap {
    border-radius: 3px;
  }

  div.align-sides {
    margin-left: 15px; 
    margin-right: 15px
  }

  .description-header:before {
      content: "Description";
  }

  .card-header {
    font-size: 16px;
    font-weight: bold;
    padding: .80rem 1rem;
    margin-bottom: 0;
    background-color: #f7f7f9;
    border-bottom: 1px solid rgba(0,0,0,.125);  
  }

  .details-header:before {
    content: "Details";
  }

  .icon-at:before {
    content: "@";
    font-weight: bold;
  }

  .content-container {
    padding: 10px;
    background: rgb(235, 235, 235);
  }

  .search-container {
    padding: 10px;
    margin-bottom: 20px;
    background: rgb(235, 235, 235);
    border-bottom: 1px solid rgba(0,0,0,.15);
  }

  .footer {
    background: rgba(0,0,0,.20); 
    border-top: 1px solid rgba(0,0,0,.20)
  }
  
  .hide{
    display: none;
  }

  .search-btn-div button {
    background: rgba(0, 0, 0, .1);
    border: 1px solid rgba(0,0,0,.25);
  }

  .search-btn-div button{
    padding: .3rem 1rem;
    font-size: 13px;
    padding: 8px 5px;
    color: rgba(0,0,0,.5);
    border: 1px solid rgba(0,0,0,.25);
    background: rgb(235, 235, 235)
  }

  .search-btn-div button:hover{
    background: rgba(0, 0, 0, .5);
    border: 1px solid rgba(0,0,0,.25);
  }

  .btn-group-padding button,
  .new-center button {
    margin: 3px;
    font-size: 11px;
    padding: 5px;
  }

  button.btn {
    cursor: pointer;
  }

  .user-btn,
  .search-btn-div {
    border: 1px solid rgba(0,0,0,.25);
    padding: 1px; 
    background: #fff;
    border-radius: 3px;
  }


  .user-btn {
    border: 1px solid  rgba(0,0,0,.5);
  }

  .user-btn a {
      color: rgba(0, 0, 0, .75)
  }

  .user-btn a:hover {
    color: rgb(2, 117, 216);
  }

  a.dropdown-item {
    font-size: 12px;
  }

  a.dropdown-toggle {
    color: rgba(255,255,255,.5);
    padding: 5px 10px; 
    background: transparent; 
    border: none;
  }

  a.dropdown-toggle:hover {
    color: #ffffff;
    background: transparent; 
    border:none;
  }

  active,
  a.dropdown-toggle:active {
    color: #ffffff;
    background: transparent; 
    border:none;
  }

  .search-div {
    margin:0px 5px;
    padding: 0px;
    *border: 1px solid rgba(0,0,0,.25);;
    background: #ffffff;
    border-radius: 3px;
  }

  .search-div [type='search'],
  .search-div select{
    text-indent: 8px;
    padding: 0px; 
    font-size: 14px; 
    border: none;
    height: 38px;
    border-radius: 0px;
    border: 1px solid rgba(0,0,0,.25);
  }

  .search-div [type='search']{
    text-align: start;
    text-indent: 8px;
    border: 1px solid rgba(0,0,0,.25);
  }

  .search-div button.search-btn {
    border: none;
    margin: 1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .center-name {
    margin: 10px 0px;
  }

  .center {
    text-align: center;
  }

  .description {
      text-align: center;
      font-size: 12px;
      margin: 10px 15px 10px 15px;
      min-height: 100px;
  }
  
  .details {
    margin: 10px;
    font-size: 12px;
    text-align: start;
  }

  .details-list {
    font-size: 12px;
    margin: 10px;
    padding: 0px;
    list-style-type: none
  }

  .facilities-list {
    font-size: 12px;
    margin: 10px;
    padding: 0px 10px;
  }

  .facilities ol{
    font-size: 13px; 
    font-weight: normal
  }

  p.details span,
  ul.details-list span {
    color: #5bc0de;
    font-size: 12px;
    margin: 0px 10px;
  }

  a.see-more {
      font-size: 12px;
  }

  .page-item.active .page-link{
    background-color: rgba(0,0,0,.15);
    border-color: rgba(0, 0, 0, .25);
  }

  .pagination-link {
      font-size: 12px;
      padding: .3rem .50rem;
  }

  .no-margin {
    margin: 0px;
  }

  .left {
    text-align: start;
  }

  /* .event-details .description {
    font-size: 
  } */

  .event-details {
    margin: 10px;
    font-size: 12px;
  }

  .review {
    background: #ffffff; 
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    font-weight: normal;
    width: 100%;
    padding: .2rem .5rem;
    font-size: 13px;
    line-height: 1.25;
    color: #464a4c;
    min-height: 28px;
 }

 .custom-input {
   height: 28px;
   font-size: 13px;
 }
 
 div:empty::before {
   color: #464a4c;
   font-size: 14px;
   padding: .5rem 0rem;
   font-weight: normal;
   min-height: 28px;
 }

 div[placeholder]:focus {
   cursor: none;
   border: 1px solid transparent
 }

 div[placeholder]:not([placeholder=""]):empty::before {
   content: attr(placeholder);
 }
